<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- this property breaks spring @Transactional -->
		<!--<property name="current_session_context_class">thread</property> -->
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hello</property>
		<property name="hibernate.connection.username">dashboard</property>
		<property name="hibernate.connection.password">dashboard</property>
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		
		<!-- default -->
		<!--<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->
		
		<!-- C3P0 pool-->
		<property name="cache.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>	
		<property name="hibernate.c3p0.min_size">2</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		
		
		<!-- mappings -->
		<mapping class="org.myorg.model.Contact" />
	</session-factory>


</hibernate-configuration>
